@model prj_Practise_School.Models.TJobTitleIdToJobTitleName

@{
    ViewData["Title"] = "EditJobTitle";
}

<h1>修改職位名稱</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditJobTitle" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FJobTitleId" />
            <div class="form-group">
                <label>職位ID</label>
                <input asp-for="FJobTitleId" class="form-control"  disabled/>
            </div>
            <div class="form-group">
                <label>職位名稱</label>
                <input asp-for="FJobTitleName" class="form-control" />
                <span asp-validation-for="FJobTitleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="JobTitle">返回</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
